Suggestion: Please support DataTypes.UUID.BINARY

From the [documentation](http://docs.sequelizejs.com/variable/index.html#static-variable-DataTypes)

> The `CHAR` and `STRING` types expose the `BINARY` property

I think this is also needed for `UUID` data type so we can store it as `BINARy(16)` is MySQL.

for example:

```javascript
sequelize.define('model',` {
  uuid: {
    type: DataTypes.UUID.BINARY,
    defaultValue: DataTypes.UUIDV4,
    primaryKey: true
  }
})
```

@omidkrad A UUID is 36 characters long. Maybe try that?

I agree this should be added!  mysql even recommends it.  

@omidkrad this appears to work at first glance but im still have some issues overall so not sure im 100% there yet!

```javascript
    id: {
        type: 'binary(16)',
        primaryKey: true,
        defaultValue: Sequelize.fn(
          '',
          Sequelize.fn('UUID_TO_BIN', Sequelize.literal('UUID()'), true),
        ),
      },
```

**Update:** 

So I fixed the issues and it runs and works as needed now except for the fact that I have to turn constraints off on all my associations.  Now quite sure why right now as not needed otherwise. 

Definitely Sequelize should support binary types by default.  It would also be important to run `BIN_TO_UUID()` on the result when selecting the result:

```
SELECT BIN_TO_UUID(id) FROM t;
```

So after tinkering all day on this I got it working well but there are some tradeoffs.  I personally didn't want to implement the UUID stuff myself which is the better choice in the long-run but some of this would still be needed anyway.

I may be missing some important pieces still but its working with my db well thus far.

```javascript
db.sql.define(
    MODEL_NAME,
    {
      id: {
        type: 'binary(16)',
        allowNull: false,
        primaryKey: true,
      },
      uuid: {
        type: new Sequelize.VIRTUAL(Sequelize.STRING, ['id']),
      },
...
```

then each model using it needs to have some hooks defined:

```javascript
export async function afterCreate(instance) {
  if (!instance.get) return;
  const originalID = instance.get('id');
  const [value] = await this.sequelize.query('SELECT BIN_TO_UUID(:binary, true) as uuidString', {
    type: this.sequelize.QueryTypes.SELECT,
    replacements: { binary: originalID },
  });
  instance.uuid = value.uuidString;
}

export async function beforeValidate(instance) {
  const [value] = await this.sequelize.query('SELECT UUID_TO_BIN(UUID(), true) as uuidBinary', {
    type: this.sequelize.QueryTypes.SELECT,
  });
  instance.id = value.uuidBinary;
}

export function afterFind(instances) {
  if (Array.isArray(instances)) {
    return Promise.all(instances.map(instance => afterCreate.call(this, instance)));
  }
  return afterCreate.call(this, instances);
}
```


Here is a very naive and static version to convert the `uuidv1` into a binary representation `binary(16)` which is shuffled so it doesn't destroy indexing performance.  This should allow changing the above to no longer needing to rely on calling the sql functions.

I've not worked with bitmasks and such but i'd imagine thats a bit easier method of shuffling.  Although the static is prob fine...

```javascript
import uuid from 'uuid/v1';

function uuidToBuffer(str) {
  const hex = [];
  for (let n = 0, l = str.length / 2; n < l; n++) {
    hex.push(parseInt(str[n * 2] + str[n * 2 + 1], 16));
  }
  return hex;
}

function bufferToHexPairs(buf) {
  const hex = [];
  for (let n = 0, l = buf.length; n < l; n++) {
    hex.push(buf.slice(n, n + 1).toString('hex'));
  }
  return hex;
}

export function getStringUUID(buf) {
  const arr = bufferToHexPairs(buf);
  return [
    arr[4],
    arr[5],
    arr[6],
    arr[7],
    '-',
    arr[2],
    arr[3],
    '-',
    arr[0],
    arr[1],
    '-',
    arr[8],
    arr[9],
    '-',
    arr[10],
    arr[11],
    arr[12],
    arr[13],
    arr[14],
    arr[15],
  ].join('');
}

export function getBinaryUUID(id) {
  const arr = uuidToBuffer(id.replace(/-/g, ''));
  return Buffer.from([
    arr[6],
    arr[7],
    arr[4],
    arr[5],
    arr[0],
    arr[1],
    arr[2],
    arr[3],
    arr[8],
    arr[9],
    arr[10],
    arr[11],
    arr[12],
    arr[13],
    arr[14],
    arr[15],
  ]);
}

function createUUID() {
  const id = uuid();
  const buf = getBinaryUUID(id);
  return {
    uuid: id,
    binary: buf,
  };
}
```

For those struggling with uuid as binary I do this

```js
import {isString, isBuffer} from 'lodash'
import {uuidV4Bytes, uuidToBytes, bytesToUuid} from '../utils/uuid'

// special MySQL
export function getUuidField(name) {
    return {
        type: 'BINARY(16)',
        set(value) {
            return this.setDataValue(name, isString(value) ? uuidToBytes(value) : value)
        },
        get() {
            const uuid = this.getDataValue(name)
            return isBuffer(uuid) ? bytesToUuid(uuid) : uuid
        },
    }
}
export function getIdField(name = 'id') {
    return {
        ...getUuidField(name),
        primaryKey: true,
        allowNull: false,
        defaultValue: uuidV4Bytes,
    }
}
```
Then using it like this

```js
// inside model definition
    static fields() {
        return {
            id: getIdField(),
            projectId: {
                ...getUuidField('projectId'),
                allowNull: false,
            },
        }
    }
```

This is easy and works fine

Except it’s breaking your database badly and should NEVER be done by anyone which reads this. 

DONT USE V4 UUID 

V4 has a place and use, telling everyone to never use it is misleading. It will not break your database, and has legitimate use cases. Both v1 and v4 have their places. Both have pros and cons.

It does not have its place as a primary key.  It’s randomness will absolutely cause problems with indexing. 

Did you wrote some benchmark by yourself to validate your say? 

Plus I am not saying to everyone to use my method over yours, dont start to panic, I am just sharing mine to help and inspire other people. Not to promote uuidv4 but getters and setters over virtual field which I feel like overenginering for this case.

Dude... I’m not panicking it’s fact not opinion.  Using v4 breaks your database and yes using getters and setters without virtual works and it’s what is done in my PR... so I don’t have any issue with that but using v4 uuid as a primary key is a fatal mistake. 

It’s not MY research 

Why do you talk about swapping my uuidv4 ? I am not swapping it I am well aware that they are not like v1 on which we could use this trick.

Also like @justinkalland said above stop saying that both uuid have pros and cons and usage. V4 will not break db and v4 bring better universal unicity when using several machines and dbs over the world. 

Everyone have different needs that are not yours. Peace out.

Ok well any talented engineer please read the the research linked so you don’t mistakingly make a massive mistake like this guy has and can’t admit to. 

It’s a mistake and it’s been specifically mentioned as a mistake BY THE TEAMS THAT BUILD THE DATABASE ITSELF. 



Although, funny enough - trending on GitHub right now is possibly a better answer: https://github.com/ulid/spec

There is an argument for using UUIDv4 for clustered DBs, such as Cassandra, where non-collision is more important than indexibility.  Who's to say that the UUID is being used for anything other than a unique PK?

If you primarily want to look things up using a UUID and you also care about time, stock UUIDv1 isn't much better, since by spec it mixes the temporal bits all around.  See the following:

https://www.percona.com/blog/2014/12/19/store-uuid-optimized-way/

Also if you only have a few machines communicating with the DB, you run the risk of collisions due to a small pool of Node-Ids (i.e. based off of the MAC addresses of your web servers).

For my purposes, I use UUIDv1 with the multi-bit set and then a random number each time for my Node ID (consistent RFC 4122, section 4.1.6, paragraph 2 https://tools.ietf.org/html/rfc4122#section-4.1.6).  I then rearrange the UUID to front-load the time portions, as mentioned in the Percona blog above, and storing it as a BINARY16.

@bradennapier Just saw that you referenced the same blog post as me.  Sorry for the collision.

Still, the point about Node IDs stands and not everybody gets the chance to move to MySQL 8 (or use MySQL at all).

@rmullenix if you view the PR i had submitted and the various libraries you wills ee they resolve the issue already.

https://github.com/sequelize/sequelize/pull/10290
https://github.com/odo-network/sequelize-binary-uuid


Still a nice to have

@JSteunou - What do you need that @bradennapier's [sequelize-binary-uuid](https://github.com/odo-network/sequelize-binary-uuid) doesn't do? (Just trying to understand the status here)

By the way thanks @bradennapier for your work! Perhaps your package should be mentioned in the docs somewhere, I will look into it.

Because it is focused on using scrambled uuid v1 for indexed uuid with big data & performance in mind and I need uuid v4

@papb would love if it were included in the docs somewhere!  I think its very useful for anyone wanting to use uuid as primary keys for sure!

@JSteunou if you want to use v4 then you should just use it.  I wouldn't personally recommend you use it as the `PK` though.  I would use it as a secondary column with an auto-incrementing column for id. 

You can still index on the uuid value.  

> @papb would love if it were included in the docs somewhere! I think its very useful for anyone wanting to use uuid as primary keys for sure!

Hi! Would you like to send a PR, where you add your library to the [docs/resources.md](https://github.com/sequelize/sequelize/blob/master/docs/resources.md) file?

hi problem sequelize update? 

> I wouldn't personally recommend you use it as the PK though. I would use it as a secondary column with an auto-incrementing column for id.

@bradennapier how do you want then to create ids entirely on the client side if your app still needs a db auto-generated id?

> > I wouldn't personally recommend you use it as the PK though. I would use it as a secondary column with an auto-incrementing column for id.
> 
> @bradennapier how do you want then to create ids entirely on the client side if your app still needs a db auto-generated id?

Just saw this - but if you are using auto incrementing primary keys then you'd just add using the custom method shown -- note that would only be useful with this package if you were indexing and associating by this property though otherwise i'd just do a standard `BINARY(16)` and save your uuid as a `Buffer` when needed (which is what we do at my company atm since our uuids do not require indexing).